<div ng-controller="adminTeamController" class="uk-containter uk-padding">
	<div class="uk-grid">
		<div class="uk-width-1-1"><h2>Admin - Teams</h2></div>
		<div class="uk-width-2-3">
			<table class="uk-table uk-table-striped uk-table-hover uk-table-small">
				<thead>
					<tr>
						<th>Name</th>
						<th>Sport</th>
						<th>Manager</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="team in dto.teams">
						<td>{{ team.Name }}</td>
						<td>{{ team.Sport }}</td>
						<td>{{ team.FirstName + ' ' + team.Surname }}</td>
						<td><span uk-icon="file-edit" uk-tooltip="title: Edit Team" ng-click="editTeam(team)"></span>&nbsp;<span uk-icon="close" uk-tooltip="title: Delete Team" ng-click="deleteTeam(team.TeamID)"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="uk-width-1-3">
			<form class="uk-form-stacked">
				<legend class="uk-legend">{{ dto.mode }} Team</legend>
				<div class="uk-margin">
					<label class="uk-form-label" for="form-stacked-text">Name</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-stacked-text" type="text" required='required' ng-model="dto.team.Name">
					</div>
				</div>

				<div class="uk-margin">
						<label class="uk-form-label" for="form-stacked-text">Sport</label>
						<div class="uk-form-controls">
							<input class="uk-input" id="form-stacked-text" type="text" required='required'  ng-model="dto.team.Sport">
						</div>
					</div>

					<div class="uk-margin">
						<label class="uk-form-label" for="form-stacked-text">Manager</label>
						<div class="uk-form-controls">
							<select  class="uk-select" ng-model="dto.team.Manager_UserID"">
								<option ng-repeat="x in dto.managerDDL" value="{{x.UserID}}">{{x.FirstName + ' ' + x.Surname}}</option>
							</select>
						</div>
					</div>

				<div class="uk-margin">
					<button class="uk-button uk-button-default" ng-click="saveTeam()">Save</button>
											<button class="uk-button uk-button-default" ng-click="cancelAddEdit()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>